* {
  background-color: darkcyan;
}

img {
  width: 200px;
  height: auto;

}

section {
  width: 200px;
  float: left;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
}

footer {
  clear: both;
}