main {
  flex-wrap: wrap;
}

img {
  width: 200px;
 max-height: 350px;
  height: auto;

}

div {
  flex-wrap: wrap;
  width: 200px;
  height: 400px;
  float: left;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3em;
}

footer {
  clear: both;
}
